@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  padding:0;
  box-sizing:border-box;
}
body {
    background-color: #eee;
    word-break: break-word;
    font-size: 14px;
    margin:0;
    font-family: Roboto,Arial,Helvetica,sans-serif;
}
